.LaboratoryChrome__header {
  justify-content: space-between;
}

.LaboratoryChrome__siteNavBack {
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: $s-color-neutral8;
}
a.so-logo__main{
	color: #f77a0c;
}
.s-button__light.is-active, .s-button--light.is-active, :checked + .s-button__light, :checked + .s-button--light{
	background: #f77a0c;
	border: 1px solid #ff7700;
}
.s-button__light.is-active:hover, .s-button--light.is-active:hover, :checked + .s-button__light:hover, :checked + .s-button--light:hover{
	background: #f77a0c;
	border: 1px solid #ff7700;
}